@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind ile çakışmaması için gereksiz global stiller kaldırıldı */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
